html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.App {
    position: relative;
    text-align: center;
    background-image: url(https://ads-cdn.fptplay.net/static/banner/2019/11/506166cfb9872f7637adfae814a57cd8_5995.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

.App img {
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    margin: auto;
}

#step0 {
    position: absolute;
    height: 60%;
    top: 30%;
    margin: auto;
    width: 56%;
    left: 22%;
}